### Case Study – 1

#### Domain –Retail

#### focus – Optimize Book RENT

#### Business challenge/requirement
BookRent is the largest online and offline book rental chain in India. The Company
charges a fixed fee per month plus rental per book. So, the company makes more
money when users rent more books.
You as an ML expert have to model a recommendation engine so that user gets
recommendation of books based on the behavior of similar users. This will ensure
that users are renting books based on their taste.
The company is still unprofitable and is looking to improve both revenue and profit.

#### Key issues
As of now a lot of users return the books and do not take the new rental. The right
recommendation will entice a users to rent more books

#### Considerations
NONE

#### Data volume
- Approx 1 M records – file BX-Book-Ratings.csv and 2 more. But only 10K records
will be used

#### Fields in Data
• user_id: Unique Id of the User
• isbn: International Standard Book Number is a unique numeric commercial
book identifier
• rating: the rating given by the user

#### Additional information
- NA

#### Business benefits
Increase in both top line and bottom line as more rentals per user means more
revenue and more profit

In [1]:
import pandas as pd

In [14]:
df_user = pd.read_csv('data/BX-Users.csv',encoding='latin-1')

C:\Users\736944\AppData\Local\Temp\ipykernel_21348\2958308492.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_user = pd.read_csv('data/BX-Users.csv',encoding='latin-1')

In [15]:
df_user.head()

  user_id                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [16]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278859 entries, 0 to 278858
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278859 non-null  object
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), object(2)
memory usage: 6.4+ MB

In [17]:
# Checking for Null Values.
df_user.isnull().sum()

user_id          0
Location         1
Age         110763
dtype: int64

In [18]:
# Dropping the Null Values.
df_user1=df_user.dropna()

In [19]:
## Read the book data
df_books = pd.read_csv('data/BX-Books.csv', encoding='latin-1')
df_books.head()

C:\Users\736944\AppData\Local\Temp\ipykernel_21348\1650565376.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv('data/BX-Books.csv', encoding='latin-1')

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [20]:
# Read the ratings data
df_ratings = pd.read_csv('data/BX-Book-Ratings.csv',encoding='latin-1',nrows=10000)
df_ratings.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [22]:
df_final = pd.merge(df_ratings,df_books,on='isbn')
df_final.head()

,user_id,isbn,rating,book_title,book_author,year_of_publication,publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,276726,155061224,5,Rites of Passage,Judith Rae,2001,Heinle
2,276727,446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books
3,278418,446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books
4,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press

In [23]:
# Check for number of unique users and books. 
n_users = df_final.user_id.nunique()
n_books = df_final.isbn.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Books: '+str(n_books))

Num. of Users: 828
Num of Books: 8051

In [24]:
# Convert and print length of isbn list
isbn_list = df_final.isbn.unique()
print(" Length of isbn List:", len(isbn_list))
def get_isbn_numeric_id(isbn):
    #print ("  isbn is:" , isbn)
    itemindex = np.where(isbn_list==isbn)
    return itemindex[0][0]

 Length of isbn List: 8051

In [25]:
# Convert and print length of user_id list
userid_list = df_final.user_id.unique()
print(" Length of user_id List:", len(userid_list))
def get_user_id_numeric_id(user_id):
    #print ("  isbn is:" , isbn)
    itemindex = np.where(userid_list==user_id)
    return itemindex[0][0]

 Length of user_id List: 828

In [26]:
# Convert both user_id and isbn to ordered list i.e. from 0...n-1
df_final['user_id_order'] = df_final['user_id'].apply(get_user_id_numeric_id)
df_final['isbn_id'] = df_final['isbn'].apply(get_isbn_numeric_id)
df_final.head()

,user_id,isbn,rating,book_title,book_author,year_of_publication,publisher,user_id_order,isbn_id
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,0,0
1,276726,155061224,5,Rites of Passage,Judith Rae,2001,Heinle,1,1
2,276727,446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,2,2
3,278418,446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,3,2
4,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,4,3

In [27]:
# Reindexing the columns
new_col_order = ['user_id_order', 'isbn_id', 'rating', 'book_title', 'book_author','year_of_publication','publisher','isbn','user_id']
df_final = df_final.reindex(columns= new_col_order)
df_final.head()

,user_id_order,isbn_id,rating,book_title,book_author,year_of_publication,publisher,isbn,user_id
0,0,0,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,034545104X,276725
1,1,1,5,Rites of Passage,Judith Rae,2001,Heinle,155061224,276726
2,2,2,0,The Notebook,Nicholas Sparks,1996,Warner Books,446520802,276727
3,3,2,0,The Notebook,Nicholas Sparks,1996,Warner Books,446520802,278418
4,4,3,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,052165615X,276729

In [28]:
# Importing train_test_split model for splittig the data into train and test set.
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df_final, test_size=0.20)

In [35]:
# Create user-book matrix for training 
train_data_matrix = np.zeros((n_users, n_books))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]  
    
# Create user-book matrix for testing
test_data_matrix = np.zeros((n_users, n_books))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [37]:
# Importing pairwise_distances function
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [39]:
user_similarity

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [45]:
# Defining custom function to make predictions
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        # We will use np.newaxis so that mean_user_rating has same format as ratings.
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis]) 
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

In [46]:
item_prediction = predict(train_data_matrix, item_similarity, type='item')
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [47]:
print(item_prediction)

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.06161491 0.06161491 0.06162256 ... 0.06161491 0.06161491 0.06161491]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [48]:
print(user_prediction)

[[-0.00202788 -0.00202788  0.00159969 ... -0.00202788 -0.00202788
  -0.00202788]
 [-0.00202788 -0.00202788  0.00159969 ... -0.00202788 -0.00202788
  -0.00202788]
 [ 0.05965378  0.05965378  0.06328173 ...  0.05965378  0.05965378
   0.05965378]
 ...
 [-0.00202788 -0.00202788  0.00159969 ... -0.00202788 -0.00202788
  -0.00202788]
 [-0.00202788 -0.00202788  0.00159969 ... -0.00202788 -0.00202788
  -0.00202788]
 [-0.00202788 -0.00202788  0.00159969 ... -0.00202788 -0.00202788
  -0.00202788]]

In [52]:
# Importing RMSE function 
from sklearn.metrics import mean_squared_error
from math import sqrt

# Defining custom function to filter out elements with ground_truth.nonzero
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [54]:
print('User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix)))

User-based CF RMSE: 7.742517352036641
Item-based CF RMSE: 7.741708229973183